= form_for(@user, html: {class: 'form-horizontal'}) do |f|
  .form-group.form-group-sm
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group.form-group-sm
    = f.label :email
    = f.email_field :email, class: 'form-control input-sm'
  .form-group.form-group-sm
    = f.label :phone
    = f.text_field :phone, class: 'form-control'
  .form-group.form-group-sm
    = f.label :delivery_type, 'Delivery Type'
    %small
      You must come to me for it to be local
    = f.select :delivery_type, options_for_select([['Pickup','pickup'],['Delivery','delivery']]), {}, class: 'form-control', id: 'select-delivery-type', name: 'delivery_type'
    -if @order
      = f.hidden_field :order_id, value: @order.order_id, name: "order_id"
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group.form-group-sm
    = f.submit 'Verify Order', class: 'btn btn-primary'