- params["order"] = {} unless params["order"]
- order = Hash.new
= form_for(@order) do |f|
  -@categories.keys.each do |key|
    - if @categories[key].count > 0
      .p  
        %h3
          =key
      %table.table
        %thead
          %tr
            %th 
            %th Name
            %th Image
            %th Price
            %th Quantity
        %tbody
          -@categories[key].each do |item|
            %tr{class: "#{key.downcase} item-row"}
              %td= check_box_tag key.downcase, item.id, item.base_item, {class: 'checkbox-price-changer price-changer', disabled: item.base_item , name: "order[items][#{item.category.name}][#{item.id}][ordered]", checked: item.base_item || @order.order_items.collect{ |c| c.item_id }.include?(item.id)}
              %td{class: 'title'}= item.title
              %td
                %img{:alt => "#{item.title}", :src => "#{item.image_url}", :style => "width:50px;height:50px"}
              %td{class: 'price'}
                =f.hidden_field :actual_price, value: item.markup.gsub('$',''), name: "order[items][#{item.category.name}][#{item.id}][price]"
                =f.hidden_field :base_item, value: item.base_item, name: "order[items][#{item.category.name}][#{item.id}][base_item]"
                =figure_increase_cost(key,item.markup)
              %td
                =quantity_selector(item).html_safe
  =f.hidden_field :total_price, value: (@order.total || $base_fee), id: 'clean-total', name: "order[total]"
  =f.hidden_field :order_id, value: (@order.order_id || ''), name: "order[order_id]"
  #total-box
    %h3.text-center
      Total
      %span.total
        =format_init_price
    .text-center
      this includes my service fee
  - if @order.errors.any?
    #error_explanation.field.form-group
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this order from being saved:
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  .actions
    - buttn_txt = params["action"] == 'edit' ? 'Update Order' : 'Delivery Information'
    = f.submit buttn_txt, class: 'btn btn-primary'