%form{:action => "https://www.#{url}.com/cgi-bin/webscr", :method => "post", :target => "_top"}
  %input{:name => "business", :type => "hidden", :value => business}
  %input{:name => "cmd", :type => "hidden", :value => "_xclick"}
  %input{:name => "item_name", :type => "hidden", :value => "BakeMyPIe"}
  %input{:name => "item_number", :type => "hidden", :value => "#{@order.order_id}"}
  %input{:name => "amount", :type => "hidden", :value => "#{@order.total}"}
  %input{:name => "notify_url", :type => "hidden", :value => "#{server_address}/orders/update_status"}
  %input{:name => "currency_code", :type => "hidden", :value => "USD"}
  %input{:name => "button_subtype", :type => "hidden", :value => "services"}
  %input{:name => "no_note", :type => "hidden", :value => "0"}
  %input{:name => "cn", :type => "hidden", :value => "Special instructions?:"}
  %input{:name => "rm", :type => "hidden", :value => "2"}
  %input{:name => "shipping", :type => "hidden", :value => "#{@order.shipping_price}"}
  %input{:name => "no_shipping", :type => "hidden", :value => "2"}
  %input{:name => "return", :type => "hidden", :value => "#{server_address}/orders/appreciation"}
  %input{:name => "cancel_return", :type => "hidden", :value => "#{server_address}/orders/sorry"}
  %input{:name => "bn", :type => "hidden", :value => "PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted"}
  %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif", :type => "image"}