<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @order.item_id %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @order.item_price %>
</p>

<p>
  <strong>Item count:</strong>
  <%= @order.item_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Perferred contact:</strong>
  <%= @order.perferred_contact %>
</p>

<p>
  <strong>Shipping info:</strong>
  <%= @order.shipping_info %>
</p>

<p>
  <strong>Delivery type:</strong>
  <%= @order.delivery_type %>
</p>

<p>
  <strong>Shipping price:</strong>
  <%= @order.shipping_price %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order.order_id %>
</p>

<p>
  <strong>Special instructions:</strong>
  <%= @order.special_instructions %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
