%div.row
  %div.col-md-8.col-md-offset-2.wrapper
    %p
      Put in the email address used to order with and I will email you an updated recipt
    = form_tag(receipt_users_path, method: "post", class: "form") do
      %br
      %div.form-group
        %p
          = label_tag(:user_email_label, "Order Email:")
        = text_field_tag(:user_email, nil, class: "form-control")
      %div.form-group
        %p
          = label_tag(:user_order_id_label, "Order ID:")
          %small
            If left empty I will email you all orders associtated with your email address.
        = text_field_tag(:user_order_id, nil, class: "form-control")
      %div.form-group
        .actions
          = submit_tag("Check order status",class: 'btn btn-default')
    %br
    Order status will be one of the following:
    %ol
      - @statuses.each do |status|
        %li
          %strong
            =status.name
          =status.description