%div.row
  %div.col-md-8.col-md-offset-2.wrapper
    %h1 Verify Order
    %h3.text-center.red
      Your Order is not complete! 
      %br
      I will start making your order once I get payment confirmation.
    %p
      %h2.text-center
        Buyer Information
      = render partial: 'users/verify'
    %p
      %h2.text-center
        Order
      = render partial: 'orders/verify', locals: {order: @order}
    %p
      %br
      %h4
        Please note. I will get the best items I can for the money. This means that the items in the pictures are used as representations. I will get you the best item I can.
    %p.text-center
      .row
        .col-md-6
          %form{:action => "#{charge_order_path}", :method => "POST"}
            = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)            
            %script.stripe-button{"data-amount" => "#{@order.total_cents + @order.shipping_price_cents}", "data-description" => "An Emulation System", "data-image" => "#{image_url('mario_jump.png')}", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-name" => "Bake My PIe", :src => "https://checkout.stripe.com/checkout.js", "data-email" => "#{@user.email}", "data-panel-label" => "Pay", "data-allow-remember-me" => "false", "data-zip-code" => "true"}
        .col-md-6
          %form#myform{:action => "#{cash_order_path}", :method => "POST"}
            = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) 
            %input{:name => "name", :type => "hidden", :value => "cash"}
            %input{:name => "user_id", :type => "hidden", :value => "#{@user.id}"}
            %a.mimic-strip-button{:onclick => "document.getElementById('myform').submit();"}
              %span.mimic-strip-button-span
                Pay Cash