%div.row
  %div.col-md-8.col-md-offset-2
    %h1 Verify Order
    %h3.text-center.red
      Your Order is not complete! 
      %br
      Please verify below to complete your order
    %p
      %h2.text-center
        Order
      = render partial: 'orders/verify', locals: {order: @order}
    %p
      %br
      %h4
        Please note. I will get the best items I can for the money. This means that the items in the pictures are used as representations. I will get you the best item I can.
    %p
      %h2.text-center
        Shipping Information
      = render partial: 'users/verify'
    %p
      %h2.text-center
        Payment Verification
      = render partial: 'payments/verify', locals: {payment: @payment}
    %br
    = form_tag(verify_order_path(@order.order_id), method: "post", class: "form") do
      %p.text-center
        =hidden_field_tag :order_id, @order.order_id
        =hidden_field_tag :user_id, @user.id
        =hidden_field_tag :payment_id, @payment.id
        = submit_tag("Submit Order",class: 'btn btn-primary btn-lg')